/* Arquivo de Estilo dos botões */
.btnMenu{
    width: 10%;
    height: 100%;
    padding: 0 5%;
}

/* Botão Fechar do menu */
.btnMenu-close{
    width: 10%;
    height: 100%;
    
    background: rgb(0, 35, 80);
    display: block;
    margin: auto;
}
    .menuClose{
        transform: translateX(-500px);
    }





