.section_notice{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em 0 0 0;
}

.title-notice{
    font-size: 2em;
    padding: 4% 2%;
    font-family: 'Lato', sans-serif;
}

.subTitle-notice{
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    padding: 4% 2%;
    font-weight: 700;
    color: #0ec3c6;
    display: block;
}

.notice-article{
    width: 95vw;
    height: 28em;
}

.notice_article-img{
    width: 100%;
    height: 65%;
    background: rgba(207, 227, 227, 0.56);
}

.notice_article-img img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.title-article{
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-align: left;
    color: #0a549d;
    font-weight: 700;
    padding: 2% 0;
}

/* Ajuste de TELA MIN 760px   */
@media screen and (min-width: 47.5em){
    /* Ajustes Textos section "Manchetes"  */
    .title-notice{
        font-size: 3.5em;
    }
    .subTitle-notice{
        font-size: 2.3em;
    }
    .title-article{
        width: 45%;
        margin: 0 0 0 2%;
        font-size: 1.6em;
    }

    /* Ajustes do Article notice   */
    .notice-article{
        display: flex;
        justify-content: center;
    }
    .notice_article-img{
        width: 50%;
        height: 65%;
    }
   
   


}




