/* Arquivo de Estilo dos botões */
.btnMenu{
    width: 10%;
    height: 100%;
    padding: 0 5%;
}

/* Botão Fechar do menu */
.btnMenu-close{
    width: 10%;
    height: 100%;
    background: rgb(0, 35, 80);
    display: block;
    margin: auto;
}
    .menuClose{
        transform: translateX(-500px);
    }

/* Botão de Paginas  */
.btn-page{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.linkPage{
    text-decoration: none;
    padding: 2% 3%;
    box-shadow: 1px 1px 1px 1px #aaabad;
    margin: 0 2%;
}

/* Ajuste de TELA MIN 768px   */
@media screen and (min-width: 47.5em){
    
    /* Efeitos dos Botões do Menu */
    .btnMenu{
        width: 5%;
        padding: 0;
        margin: 0 0 0 12%;
    }
    .btnMenu-close{
        width: 5%;
        margin: 0 0 0 12%;
    }

    /*  Deslocamento do Menu  */ 
    .menuClose{
        transform: translateX(-1200px);
    }

    /* Botão Link de páginas  */ 
    .linkPage{
        margin: 0 2% 10% 0;
        font-size: 2em;
    }



}




