/* Arquivo de Estilo dos botões */
.btnMenu{
    width: 10%;
    height: 100%;
    padding: 0 5%;
}

/* Botão Fechar do menu */
.btnMenu-close{
    width: 10%;
    height: 100%;
    
    background: rgb(0, 35, 80);
    display: block;
    margin: auto;
}
    .menuClose{
        transform: translateX(-500px);
    }


/* Botão de Paginas  */
.btn-page{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.linkPage, .linkPage1{
    text-decoration: none;
    padding: 2% 3%;
    box-shadow: 1px 1px 1px 1px #aaabad;
    margin: 0 2%;
}



