/* Estilo do HEADER / MENU */

/*---HEADER-----*/
.headerBar{
    background-color: rgb(0, 35, 80);
    height: 8em;
    width: 100%;
    box-shadow: 1px 1px 20px 5px black;
    display: flex;
   position: fixed;
    top: 0;
}
    .headerBar-logo{
        width: 80%;
        height: 100%;
    }
        .headerBar-logo img{
            max-width: 100%;
            max-height: 100%;
        }


/*-----NAVBAR----------*/
.wrap-menu{
    background: rgba(0, 35, 80, 0.71);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: transform 300ms linear;
    position: fixed;

}
    .navBar{
        background-color: rgba(0, 35, 80, 0);
        height: 8em;
        width: 100%;
        display: flex;
    }
        .navBar-logo{
             width: 80%;
             height: 100%;
        }
            .navBar-logo img{
                 max-width: 100%;
                 max-height: 100%;
            }
.menu{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
    .menu_item{
        width: 100%;
        padding: 2%;
        font-size: 1.5em;
        text-align: center;
    }
        .menu_item-action{
            color: #f5f6f7;
            border-bottom: solid 1px  white;
            text-decoration: none;
        }

/*   Area Redes Sociais   */
.nav_RedesSociais{
    width: 100%;
    height: 7em;
    text-align: center;
    color: #f5f6f7;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin: 5% 0;
}
    .nav_RedesSociais a{
        text-decoration: none;
        font-size: 3em;
        padding: 2%;
    }
    .nav_RedesSociais :nth-child(1){
        padding: 0 0 2% 0;
    }
    .nav_RedesSociais :nth-child(2){
        color: #00acee;
    }
    .nav_RedesSociais :nth-child(3){
        color: #082a72;
    }
    .nav_RedesSociais :nth-child(4){
        color: #34af23;
    }
    .nav_RedesSociais :nth-child(5){
        color: #e5a12a;
    }



